.experiencia {
  max-width: 1500px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo{
  color: #9e9e9e;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #2f2f2f;
}

.empresa:hover {
  border-bottom-style: double;
  border-bottom-width: 2px;
}

.experiencia-texto em {
  font-weight: bold;
  color: black;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 21px;
  right: 30px;
  font-weight: bold;
  color: #525252;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 20px;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: .875rem;
  line-height: 1.4;
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: black;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .experiencia-ano {
    order: 1;
    width: initial;
    text-align: right;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
} 
