.footer {
  background-color: black;
}

.footer-container {
  max-width: 1500px;
  padding: 60px 20px 30px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}
.footer-contato {
  padding-top: 55px;
}
.footer-contato li {
  font-size: 1.5rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1px;
}

.footer-contato li a {
  color: #fff;
  text-decoration: none;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}