.formacao {
  background-color: rgb(24, 24, 24);
  max-width: 1500px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formacao-subtitulo {
  color: #525252;
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto em {
  font-weight: bold;
  color: white;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade:hover {
  border-bottom-style: double;
  border-bottom-width: 2px;
  border-bottom-color: blue;
}

.faculdade {
  flex: 1;
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.cursos {
  border-color: black;
  border-style: double;
  border-right: none;
  border-top: none;
  border-bottom-width: 0px;
  padding-left: 20px;
}

.idiomas {
  border-color: black;
  border-style: double;
  border-right: none;
  border-top: none;
  border-bottom-width: 0px;
  padding-left: 20px;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: white;
}

.formacao-extra span {
  color: #8f8f8f;
  margin-right: 20px;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}
.idiomas li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao-subtitulo {
    color: white;
  }
  .formacao-texto {
    font-size: 1.2;
  }
}

.curso {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  color: white;
  background-color: black;
  position: relative;
  width: 200px;
  height: 200px;
}

.formacao-cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}

.maisCurso {
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.maisCurso-horas1 {
  font-size: 0.825rem;
  color: #525252;
  position: absolute;
  top: 21px;
  right: 75px;
  font-weight: bold;
}

.maisCurso-horas2 {
  font-size: 0.825rem;
  color: #525252;
  position: absolute;
  top: 41px;
  right: 75px;
  font-weight: bold;
}

.maisCurso-horas1 {
  font-size: 0.825rem;
  color: #525252;
  position: absolute;
  top: 21px;
  right: 75px;
  font-weight: bold;
}

.maisCurso-horas1 {
  font-size: 0.825rem;
  color: #525252;
  position: absolute;
  top: 21px;
  right: 75px;
  font-weight: bold;
}
