.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: #fff;
  max-width: 1500px;
  margin: 0px;
}

.titulo {
  font-size: 4rem;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-menu {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.3;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background-color: #efefef;
    border-radius: 4px;
  }
}
