.introducao h1::before {
  content: "";
  display: block;
  width: 30px;
  height: 80px;
  background: black;
  position: absolute;
  right: 896px;
  top: 290px;
  transform: skew(-45deg);
  z-index: -1;
}

.introducao h1::after {
  content: "";
  display: block;
  width: 30px;
  height: 80px;
  background: blue;
  position: absolute;
  right: 896px;
  top: 300px;
  transform: skew(-45deg);
  z-index: -1;
}

.empresa::before{
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: linear-gradient(black, blue);
  position: absolute;
}

.faculdade::before{
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: linear-gradient(blue, black);
  position: absolute;
  left: -1px;
  top: 0px;
}

.formacao h2::before {
  content: "";
  display: block;
  width: 30px;
  height: 80px;
  background: black;
  position: absolute;
  left: 150px;
  top: 1430px;
  transform: skew(-45deg);
  z-index: 1;
}

.formacao h2::after {
  content: "";
  display: block;
  width: 30px;
  height: 80px;
  background: blue;
  position: absolute;
  left: 120px;
  top: 1430px;
  transform: skew(-45deg);
  z-index: 1;
}