.introducao {
  max-width: 1500px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao img {
  max-width: 100%;
  border-radius: 5px;
  filter: grayscale()
}

.introducao img:hover{
  display: inline-block;
  transform: rotate(45deg);
  text-align: center;
  transform: scaleX(-1);
  display: block;
  margin: 0 auto;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao p {
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
  .introducao h1::after {
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .introducao {
    display: grid;
    grid-template-columns: 1fr;
  }
  .introducao img{
    display: none;

  }
}